SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
PUBMED_TOOL_NAME=AMR-Insight
PUBMED_CONTACT_EMAIL=your-real-email@example.com
PUBMED_API_KEY=your-key-here
GEMINI_API_KEY=your-key-here